<div>
  <div>
    <h1>Register!</h1>
    <form class="contain-everything" id="registerForm">
      <label>Name</label>
      <input name="name" />
      <label>Email</label>
      <input name="email" />
      <label>Password</label>
      <input type="password" name="password" />
      <input class="button-style" type="submit" />
    </form>
  </div>
</div>

<div><a href="/"><button class="button-style2" id="login" >Login</button></a></div>
<script src="/js/auth.js"></script>