<div>
  <h1>Login!</h1>
  <form class="contain-everything" id="loginForm">
    <label>Email</label>
    <input name="email" />
    <label>Password</label>
    <input type="password" name="password" />
    <input class="button-style" type="submit" />
  </form>
</div>

<hr />
<p>Manage Your Session:</p>
<div class="contain-everything2">
  <button class="button-style2" id="current">Check current session</button>
  <button class="button-style2" id="logout">Logout</button>
</div>

<script src="/js/user.js"></script>
<hr />
<div><h2>Register!</h2><a href="/auth/register"><button class="button-style2" id="login" >Please Register</button></a></div>